---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"applifting-parking","Key":{"date":{"N":"1597874400"},"building":{"S":"river"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
      X-Amz-Date:
      - 20200820T114707Z
      X-Amz-Content-Sha256:
      - b9670609f4979badf43061c86e2d419bc06c61456dc8dd8a216db444cc95dbef
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAXNW2W6WIE4BOJZPS/20200820/eu-central-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=760746635c42bc31fa1112170e7afa7ce8d0291da8be9d46c264d8fd931542af
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - CFVER7PD304Q07RND12GQ9429FVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '1267337147'
    body:
      encoding: UTF-8
      string: '{"Item":{"payload":{"L":[{"M":{"spot_user":{"S":"UJC1L8Q87"},"spot_id":{"N":"155"}}},{"M":{"spot_user":{"S":"UJC1L8Q87"},"spot_id":{"N":"156"}}}]},"date":{"N":"1597874400"},"building":{"S":"river"}}}'
  recorded_at: Thu, 20 Aug 2020 11:47:07 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"applifting-parking","Key":{"date":{"N":"1598220000"},"building":{"S":"river"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
      X-Amz-Date:
      - 20200820T114708Z
      X-Amz-Content-Sha256:
      - 300d7032257d4e8beead71bd049e2aa5269989ccf81ad2764cff76558364c7e9
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAXNW2W6WIE4BOJZPS/20200820/eu-central-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=86c7592d4c9a4e8b962e600dae8004bfc872d8f78085b92b6c5af1250a94ec45
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - E5K5HII84Q9PCH771N54QKO16NVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 20 Aug 2020 11:47:08 GMT
recorded_with: VCR 6.0.0
