---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"applifting-parking","Key":{"date":{"N":"1597701600"},"building":{"S":"river"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
      X-Amz-Date:
      - 20200818T161400Z
      X-Amz-Content-Sha256:
      - 5a50a527833cc2774a8c2a90383c36502cd29420d09578d5fa6ef724c48db5ea
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAXNW2W6WIE4BOJZPS/20200818/eu-central-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=4b9acbbad108a18f14a7c6bd30d101681d7e828227f29ff4bd3fcadaa562bcb9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - FCRCI0VV711PQ6DBAU7IP3GOQVVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '1796367766'
    body:
      encoding: UTF-8
      string: '{"Item":{"payload":{"L":[]},"date":{"N":"1597701600"},"building":{"S":"river"}}}'
  recorded_at: Tue, 18 Aug 2020 16:14:00 GMT
[...]
- request:
    method: post
    uri: https://slack.com/api/views.update
    body:
      encoding: UTF-8
      string: '{"view_id":"VT9UVQVAT","user_id":"UJC1L8Q87","view":{"blocks":[{"type":"section","block_id":"9348","text":{"type":"plain_text","text":"Parking
        in"}},{"type":"actions","block_id":"6732","elements":[{"type":"static_select","action_id":"garage?building=saldovka","placeholder":{"type":"plain_text","text":"Select
        an item","emoji":true},"initial_option":{"text":{"type":"plain_text","text":"River","emoji":true},"value":"river"},"options":[{"text":{"type":"plain_text","text":"Saldovka","emoji":true},"value":"saldovka"},{"text":{"type":"plain_text","text":"River","emoji":true},"value":"river"}]},{"type":"button","text":{"type":"plain_text","text":"Parkers
        :information_source:","emoji":true},"action_id":"garage/parkers?building=river\u0026modal=true","style":"primary"}]},{"type":"section","block_id":"6730","text":{"type":"mrkdwn","text":":Tuesday:
        *Tuesday*"}},{"type":"actions","block_id":"1477","elements":[{"type":"button","text":{"type":"plain_text","text":"155","emoji":false},"action_id":"garage/2020-08-18/spot/155/book?building=river"},{"type":"button","text":{"type":"plain_text","text":"156","emoji":false},"action_id":"garage/2020-08-18/spot/156/book?building=river"},{"type":"button","text":{"type":"plain_text","text":"157","emoji":fals[...]
