---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"applifting-parking","Key":{"date":{"N":"1597874400"},"building":{"S":"saldovka"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
      X-Amz-Date:
      - 20200820T114627Z
      X-Amz-Content-Sha256:
      - 30eb318c9235d66ba4655aaa4f976c4b7173f9889d862351de411a3a9a19f86f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAXNW2W6WIE4BOJZPS/20200820/eu-central-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=18016529be1280a897d768d54cac1a7d18c358a1a7a01dbc68fde0aa7495046b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - NOPDUD26VEPIET5OBDQNPTTGFBVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 20 Aug 2020 11:46:27 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"applifting-parking","Key":{"date":{"N":"1598220000"},"building":{"S":"saldovka"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
      X-Amz-Date:
      - 20200820T114628Z
      X-Amz-Content-Sha256:
      - 135718a1c28ba997762cab1bc9758452d44c87cce3b0dc52f4ac9f60813efb27
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAXNW2W6WIE4BOJZPS/20200820/eu-central-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=d20a34a4380cd4cbfcab9aaaf870b8466d4d598ba9a60aa7e4eba705d1a497ba
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - 939SFGGQUGEN4BP49C09PD38B3VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 20 Aug 2020 11:46:28 GMT
recorded_with: VCR 6.0.0
