---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"applifting-parking","Key":{"date":{"N":"1598047200"},"building":{"S":"river"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
      X-Amz-Date:
      - 20200820T123155Z
      X-Amz-Content-Sha256:
      - cf27c8adaa44f7f7949626e1340bbc83b3cd7b2110eecb7df1fe01ca154475c9
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAXNW2W6WIE4BOJZPS/20200820/eu-central-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=c9a2d00c0cdd2cfb9c95b7ab8f9ca0903e89df3822d31a972797869d49f3cb12
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - F4DSR2BRQCPL4I0OCJJBSG7HP3VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2422409125'
    body:
      encoding: UTF-8
      string: '{"Item":{"payload":{"L":[{"M":{"spot_user":{"S":"UJC1L8Q87"},"spot_id":{"N":"156"}}}]},"date":{"N":"1598047200"},"building":{"S":"river"}}}'
  recorded_at: Thu, 20 Aug 2020 12:31:55 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"applifting-parking","Key":{"date":{"N":"1598220000"},"building":{"S":"river"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
      X-Amz-Date:
      - 20200820T123156Z
      X-Amz-Content-Sha256:
      - 300d7032257d4e8beead71bd049e2aa5269989ccf81ad2764cff76558364c7e9
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAXNW2W6WIE4BOJZPS/20200820/eu-central-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=e5c7b2bf71473f84412c90e59cf55636f14c38d87c3a1b7a0bfdfa21638ae631
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - 67MQ5AAKTNN92FSL89O2CI25OJVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 20 Aug 2020 12:31:56 GMT
recorded_with: VCR 6.0.0
