---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"applifting-parking","Key":{"date":{"N":"1597960800"},"building":{"S":"river"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
      X-Amz-Date:
      - 20200820T123216Z
      X-Amz-Content-Sha256:
      - d01dc01d740078a9aa0ee883c05d470c48ef1140f6f0cbce1bdc6aca0c86ec09
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAXNW2W6WIE4BOJZPS/20200820/eu-central-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=617a47ad42699a8cbe39073eac0b185c3bd70267bb7fe3848df69a7ee91fbe44
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - VBHF3UDN84EQG4RJ8J8U4B9EA7VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '707062732'
    body:
      encoding: UTF-8
      string: '{"Item":{"payload":{"L":[]},"date":{"N":"1597960800"},"building":{"S":"river"}}}'
  recorded_at: Thu, 20 Aug 2020 12:32:16 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"applifting-parking","Key":{"date":{"N":"1597874400"},"building":{"S":"river"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
      X-Amz-Date:
      - 20200820T123216Z
      X-Amz-Content-Sha256:
      - b9670609f4979badf43061c86e2d419bc06c61456dc8dd8a216db444cc95dbef
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAXNW2W6WIE4BOJZPS/20200820/eu-central-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=519ee992fb39b5fcc51b091cb514c707513ef8e7eff0758e01199e77ed43d19a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - ALL2Q00GDII4S6MA0SRRV9EV1BVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '1267337147'
    body:
      encoding: UTF-8
      string: '{"Item":{"payload":{"L":[{"M":{"spot_user":{"S":"UJC1L8Q87"},"spot_id":{"N":"155"}}},{"M":{"spot_user":{"S":"UJC1L8Q87"},"spot_id":{"N":"156"}}}]},"date":{"N":"1597874400"},"building":{"S":"river"}}}'
  recorded_at: Thu, 20 Aug 2020 12:32:16 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"applifting-parking","Key":{"date":{"N":"1598220000"},"building":{"S":"river"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
      X-Amz-Date:
      - 20200820T123216Z
      X-Amz-Content-Sha256:
      - 300d7032257d4e8beead71bd049e2aa5269989ccf81ad2764cff76558364c7e9
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAXNW2W6WIE4BOJZPS/20200820/eu-central-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=b9107f55dbfe08a4c0dcf6118642e79685d2045428d4ae4588d24a29db3b8907
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - I1P4CEKJLAE42QL1MDROGVP2ANVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 20 Aug 2020 12:32:16 GMT
recorded_with: VCR 6.0.0
